
# Enable the Rewrite Engine
RewriteEngine on

# Redirect /index or /NicolloOcbena_BonusAssignment.html to /home
RewriteRule ^index(\.html)?$ /home [R=301,L]

# Handle other .html files
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

# Internally redirect to the actual .html file
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

# Special handling for 'home' to point to 'NicolloOcbena_BonusAssignment.html'
RewriteRule ^home$ /index.html [NC,L]
