/*POPUP OVERLAY FOR BOOKING / MODAL WINDOW*/

.promo-img {
    width: 90%;
}

.pop-up .overlay-book-promo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: none;
}

.pop-up .content-promo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 40em;
    height: 22rem;
    z-index: 999999;
    text-align: center;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    visibility: hidden;
    pointer-events: none;
}

.pop-up.open .content-promo {
    transition: all 0.3s;
    visibility: visible;
    pointer-events: auto;
}

.pop-up .close-pop-up-btn-promo {
    position: fixed;
    cursor: pointer;
    right: 2rem;
    top: -25rem;
    color: white;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    border-radius: 50%;
}


.pop-up-msg {
    color: black;
    font-weight: 400;
}

.book-now-number {
    font-weight: 500;
}


.modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.time {
    color: red;
    font-weight: 500;
}

.modal-header-text {
    padding-top: 0.6rem;
}


.modal-btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.modal-call-btn,
.modal-call-btn:link,
.modal-call-btn:visited {
    display: inline-block;

    font-size: 1.6rem;
    font-weight: 600;
    padding: 1.2rem 1.6rem;
    border-radius: 9px;
    text-decoration: none;
    background-color: #e7757f;
    color: #fff;

    /*Only for .btn itself and not href*/
    border: none;
    cursor: pointer;
    font-family: inherit;

}

.modal-call-btn:hover,
.modal-call-btn:active {
    background-color: #e1525f;
}


.pop-up.open .overlay-book-promo {
    display: block;
}

